- name: Go, go gadget
  connection: localhost
  gather_facts: false
  become: true
  hosts: all

  vars:
    - git_repository: https://github.com/adrianno-czelentanno/Ansible_roles
    - git_branch: main
    - ansible_roles_dir: /etc/ansible/roles
  
  tasks:
    - name: Create {{ ansible_roles_dir }}
      file:
        path: "{{ ansible_roles_dir }}"
        state: directory
        mode: 0775

    - name: Clone Ansible_roles
      git:
        repo: "{{ git_repository }}"
        dest: /etc/ansible/roles
        single_branch: yes
        version: "{{ git_branch }}"
